@model LoginUser

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row pt-5">
        <div class="col-8 text-center">
            <h2>Login!</h2>
        </div>
        <div class="col-4 text-center pt-2">
            <a href="/"><button type="submit" class="btn btn-primary">Register</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Login" asp-controller="Home" method="POST">
                <div class="form-group row pt-5">
                    <span style="color:red" class="col-12" asp-validation-for="Email"></span>
                            <label asp-for="Email" class="col-sm-3 col-form-label text-center"></label>
                        <div class="col-sm-4">
                            <input type="Email" asp-for="Email" class="form-control" placeholder="Enter your email">
                        </div>
                </div>
                <div class="form-group row pt-5">
                    <span style="color:red" class="col-12" asp-validation-for="Password"></span>
                        <label asp-for="Password" class="col-sm-3 col-form-label text-center"></label>
                    <div class="col-sm-4">
                        <input type="password" asp-for="Password" class="form-control" placeholder="Enter your password">
                    </div>
                </div>
                <div class="form-group pt-5">
                    <div class="col-8 text-center">
                        <button type="submit" class="btn btn-primary" style="width: 125px;">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>