<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <a href="/">Home</a>
            </div>
            <div class="col">
                <a href="/projects">Projects</a>
            </div>
            <div class="col">
                <a href="contact">Contact</a>
            </div>
        </div>
        <div class="row">
            <div class=" pt-5 col text-center">
                <h1>About ME</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pb">
                <img src="~/images/Profile_Michael.png" alt="" height="200" width="200">
                <h5>This is Michael Remy</h5>
                <h5>He is a smart man!</h5>
            </div>
            <div class="col-6">
                <p>kajwbdkabwkdakhwdahbkdwahbk</p>
            </div>
        </div>
    </div>
</body>
</html>