<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Projects</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <a href="/">Home</a>
            </div>
            <div class="col">
                <a href="/projects">Projects</a>
            </div>
            <div class="col">
                <a href="contact">Contact</a>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5 text-center">
                <h2>Here are some projects of mine!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div style="width:500px;height:300px;line-height:3em;overflow:auto;padding:5px;">
                        <img src="~/images/Profile_Michael.png" alt="" width="150" height="150">
                        <p>kabwkdbahwbhkakhbaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                        <img src="~/images/Profile_Michael.png" alt="" width="150" height="150">
                        <p>kabwkdbahwbhkakhbaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                        <img src="~/images/Profile_Michael.png" alt="" width="150" height="150">
                        <p>kabwkdbahwbhkakhbaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>